.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.barchart-container{
  width: 100%;
  height: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root,
.App,
.chart-area {
  height: 100%;
  width: 100%;
}

.chart-line {
  stroke-width: 2;
  stroke: #48bb78;
  fill: none;
}

.chart-marker {
  stroke: #22543d;
  stroke-width: 2;
  fill: #c6f6d5;
}

.bar-chart-container{
  width: 100%;
  height: 100%;
}

.barchart-toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
}
